@model MyDrive.ViewModels.DisplayUsersViewModel
@{
    ViewBag.Title = "DisplayUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2> 
<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>ID</th>
        
    </tr>
    
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>@Html.ActionLink(@user.Name, "ViewInformation", "DriveUsers", new { Id = @user.Id}, null)</td>
            <td>@user.Id</td>
        </tr>
        }
    
</table>


