@model MyDrive.Models.Folder

<h2>Rename Folder</h2>

@using(Html.BeginForm("RenameFolder2","Folder"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
}