@model List<MyDrive.Models.FileModel>
@{
    ViewBag.Title = "ShowFilesInTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Uploaded Files</h2>

<table id="AllFiles" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>File Name</th>
            <th>File Path</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Path</td>
                <td><a href="#">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#AllFiles").DataTable();
        })
    </script>
}