@{
    ViewBag.Title = "GetFolders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .myCustomContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .CustomFolder {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

        .CustomFolder button {
            display: flex;
        }

        .CustomFolder span {
            display: block;
            padding-left: 30px;
        }

        .CustomFolder .myFolderIcon {
            font-size: 100px;
            color: #CC5500;
        }

    .myCustomContainerForFiles {
        display: flex;
        flex-wrap: wrap;
    }

    .CustomFile {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

        .CustomFile button {
            display: flex;
        }

        .CustomFile span {
            display: block;
            padding-left: 30px;
        }

        .CustomFile .myFolderIcon {
            font-size: 100px;
            color: #CC5500;
        }
    .mycontainer {
        display: flex;
    }

        .mycontainer .Second-button {
            margin-left: 15px;
        }
</style>

<!--<h2>Folders</h2>-->

<div class="mycontainer">
    <p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createFolderModal">Create Folder</a>
    </p>

    <p class="Second-button">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">Upload File</a>
    </p>
</div>
<div class="myCustomContainer">
    @for (int i = 0; i < 11; i++)
    {
        <div class="CustomFolder">
            <button class="btn-link"><i class="fas fa-backspace myDeleteIcon"></i></button>
            <a href="#"> <i class="fas fa-folder myFolderIcon"></i><span>Folder @i</span></a>
        </div>
    }
</div>

<div class="myCustomContainerForFiles">
    @for (int i = 0; i < 11; i++)
    {
        <div class="CustomFile">
            <button class="btn-link"><i class="fas fa-backspace myDeleteIcon"></i></button>
            <a href="#"> <i class="fas fa-file myFolderIcon"></i><span>File @i</span></a>
        </div>
    }
</div>
