@model MyDrive.ViewModels.ListCreateEditDeleteCompaniesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Companies</h2>

<style>
    .Companies {
        display: flex;
        flex-wrap: wrap;
    }

    .Companies .customFolder {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .CompanyButtons {
        display: flex;
    }

    .Companies {
        margin-top: 30px;
    }

    span {
        display: block;
        padding-left: 0;
        width: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
</style>

<div class="CompanyButtons">
    <a href="~/Company/CreateCompany" class="btn btn-primary">Create Company</a>
</div>


<div class="Companies">
    @for (int i = 0; i < Model.Companies.Count; i++)
    {
        string replaceString = Model.Companies[i].LogoPath.Replace(@"\", "/");
        string[] imagePath = replaceString.Split('/');
        string imagePath1 = imagePath[imagePath.Length - 1];
    <div class="customFolder">
        <span>@Html.ActionLink("Edit Company", "EditCompany", "Company", new { id = Model.Companies[i].Id }, null)</span>
        <span>@Html.ActionLink("Manage Users", "ManageUsers", "Company", new { id = Model.Companies[i].Id }, null)</span>
        <a href="#"><img src="~/Images/@imagePath1" alt="Company logo" /><span>@Model.Companies[i].Name</span></a>
    </div>  
    }
</div>

@section scripts
{
    <script>
        
    </script>
}