
    <div class="wrapper">
        <div class="sidebar">
            <h2>SideBar</h2>
            @Html.Partial("_LoginPartial")
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/DriveUsers/DisplayUsers">DriveUsers</a></li>
                <li><a href="/Home/About">About</a></li>
                <li><a href="/Files/FileProfile">Upload File</a></li>
            </ul>

        </div>
    </div>

    <!--
    <div class="folder1">
        <p class="folder1Name"><a href="testing.html">File 1</a></p>
    </div>
    -->