@model MyDrive.Models.Folder
@{
    ViewBag.Title = "CreateFolderPopUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateFolderPopUp</h2>

<p>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createFolderModal">Create Folder</a>
</p>

@using (Html.BeginForm("CreateFolder", "Files"))
{
    <div class="modal fade" id="createFolderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Create Folder</h2>
                </div>
                <div class="modal-body">
                    <form id="createFolderModal">
                        <label>Folder Name</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}