@model MyDrive.ViewModels.CreateRoleViewModel
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Role</h2>

<style>
    .TableClass {
        margin-top: 20px;
    }
</style>

@using (Html.BeginForm("CreateRolePost", "Administration"))
{
    <div class="form-group">
        @Html.LabelFor(m => Model.RoleName)
        @Html.TextBoxFor(m => Model.RoleName, new { @class = "form-control", id = "RoleNameTextBox" })
        @Html.ValidationMessageFor(m => Model.RoleName)
        @if(Model.Flag == true)
                {
                    <p>A role with this name already Exists</p>
                }
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}



@section scripts
{
    <script>
        
    </script>
}